body {
  background-color: powderblue;
}
h1 {
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 150%;
}
p {
  color: grey;
  font-family: 'Playfair Display', serif;
  font-size: 125%;
}
.footer {
  color: black;
  font-family: 'verdana';
  font-size: 75%;
}